table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(237, 202, 190);
}
.backgroundImage {
  background-image: url('books-image.jpg');
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
  margin-bottom: 15px;
}

.bookstoreTitle {
  text-align: center;
}
.bodyContainer {
  margin: 15px;
}
